.symbol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}

.column {
  color: white;
  background-color: #000080;
  margin: auto;
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "  ";
  display: table;
  clear: both;
}
.degree_finder {

  background-color: #a9a9a9;

}
.footer{
  background-color: grey;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.symbol {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 20px;
 height: 20px;
 margin-bottom: -20px;
}

.nav-link {
  font-family: verdana;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
