.symbol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}

.general_info {
  color: grey;
  text-align: center;
  font-family:monospace;
}

.astronaut_jumbotron {
  text-align: justify;
  color: black;
}

.jumbotron{
  background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiRxsC_m6rkAhUFxhoKHTpIAw4QjRx6BAgBEAU&url=https%3A%2F%2Fin.mashable.com%2Fscience%2F3303%2Fnasa-shares-the-most-detailed-image-of-outer-space-ever-and-were-awestruck&psig=AOvVaw06gWTsJB3gYFSTFaJlEnsj&ust=1567241447010298);
}

.footer {
  background-color: grey;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.symbol {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 20px;
 height: 20px;
 margin-bottom: -20px;
}

.nav-link {
  font-family: verdana;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
