
 }
 h1{
   color: white;
   text-align: center;
   font-family:monospace;
   font-stretch: extra-expanded;
   border: 2px solid pink;
   border-radius: 5px;
 }
 h2{
   color: pink;
   font-family:monospace;
 }
p{
  color: white;
}
ol{
  color: lightgreen;
}
ul{
  color: lightgreen;
}
a{
  color:white;
}

.content {
  background-image: url("")
}

.symbol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
}
