<<<<<<< Updated upstream
 body{
   background-image: url("sky.png");
 }
 h1{
   color: white;
   text-align: center;
   font-family:monospace;
   font-stretch: extra-expanded;
   border: 2px solid pink;
   border-radius: 5px;
 }
 h2{
   color: pink;
   font-family:monospace;
 }
=======
h1{
  color: white;
  text-align: center;
  font-family:monospace;
  font-stretch: extra-expanded;
  border: 2px solid pink;
  border-radius: 5px;
}

h2{
  color: pink;
  font-family:monospace;
}

>>>>>>> Stashed changes
p{
 color: white;
}

ol{
 color: lightgreen;
}

ul{
 color: lightgreen;
}

a{
 color:white;
}
img{
  margin-left: 60px;
  width: 150px;
  height: 150px;
  radius: 5px;
}
.content {
 background-image: url("")
}
<<<<<<< Updated upstream
=======

.symbol {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 25px;
 height: 25px;
}
>>>>>>> Stashed changes
