.contactform{
  color:black;
}

a{
 color:white;
}

h2{
  color: grey;
  font-family:monospace;
  text-align:center;
}

h4{
  color: navy;
  text-align:justify;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

p{
 color: white;
}


.symbol {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 20px;
 height: 20px;
 margin-bottom: -20px;
}

.carousel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}



.nav-link {
  font-family: verdana;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.footer{
  background-color: grey;
}
